<div class="chat-list">
  <div class="search-bar">
    <input type="text" class="form-control" placeholder="Search" />
  </div>
  <div class="chat-item" (click)="onSelect('Talifhani')">
    <div class="profile-circle">T</div>
    <div class="chat-details">
      <div class="username" >Talifhani</div>
      <div class="message">Hello</div>
    </div>
  </div>

  <div class="chat-item">
    <div class="profile-circle">T</div>
    <div class="chat-details">
      <div class="username">Talifhani</div>
      <div class="message">Hello</div>
    </div>
  </div>
  <div class="chat-item">
    <div class="profile-circle">T</div>
    <div class="chat-details">
      <div class="username">Talifhani</div>
      <div class="message">Hello</div>
    </div>
  </div>

  <div class="chat-item">
    <div class="profile-circle">T</div>
    <div class="chat-details">
      <div class="username">Talifhani</div>
      <div class="message">Hello</div>
    </div>
  </div>

  <div class="chat-item">
    <div class="profile-circle">T</div>
    <div class="chat-details">
      <div class="username">Talifhani</div>
      <div class="message">Hello</div>
    </div>
  </div>

  <div class="chat-item">
    <div class="profile-circle">T</div>
    <div class="chat-details">
      <div class="username">Talifhani</div>
      <div class="message">Hello</div>
    </div>
  </div>

  <div class="chat-item">
    <div class="profile-circle">T</div>
    <div class="chat-details">
      <div class="username">Talifhani</div>
      <div class="message">Hello</div>
    </div>
  </div>
</div>
