/* chat-list.component.css */

.chat-list {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-control {
  padding: 5px;
  width: 100px;
}

.chat-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjusted for better alignment */
  margin-bottom: 15px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3498db;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 15px;
}

.chat-details {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
}

.message {
  color: #333;
  overflow: hidden;
}

.start-chat-button {
  background-color: #6cc3d5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.start-chat-button:hover {
  background-color: #6cc3d5;
}

.start-chat-div {
  padding: 9px 20px;
}

/* Styles for the dropdown */
.mat-menu {
  background-color: #fff; /* Adjust as needed */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-menu-item {
  color: #333;
}

/* Add these styles to your global styles or component-specific styles */
.error-message {
  color: black;
  font-weight: bold;
  background-color: #6cc3d5;
  padding: 10px;
  margin-top: 10px;
}
