/* Updated CSS with reduced padding for a more compact design */

.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 78vh;
  margin-top: 30px;
}

.custom-card {
  width: 60%;
  max-width: 600px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f8f9fa;
  padding: 10px; /* Reduced padding */
  border-bottom: 1px solid #ced4da;
  text-align: center;
}

.card-body {
  padding: 20px; /* Reduced padding */
}

.label-text {
  margin-bottom: 5px; /* Reduced margin */
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px; /* Reduced padding */
  margin-bottom: 15px; /* Reduced margin */
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px; /* Reduced padding */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn-primary:hover {
  background-color: #0056b3;
}
