<!-- reset-password.component.html -->
<div class="custom-container">
  <div class="custom-card">
    <div class="custom-content">
      <p class="custom-subtitle">Enter Reset Code</p>
      <p class="custom-logo-text">Geeks Chat</p>
    </div>

    <div class="custom-card-body">
      <form (submit)="submitVerificationCode()" [formGroup]="verificationForm" class="custom-form">
        <div class="custom-form-group" [ngClass]="{ 'has-error': verificationForm.get('code')?.hasError('required') && verificationForm.get('code')?.touched }">
          <label for="resetCode" class="custom-label fw-bold">Reset Code:</label>
          <div class="input-with-icon">
            <input type="text" class="custom-input" id="resetCode" formControlName="code" placeholder="Enter the code" required>
            <i *ngIf="verificationForm.get('code')?.hasError('required') && verificationForm.get('code')?.touched" class="fas fa-exclamation-triangle error-icon"></i>
          </div>
          <div *ngIf="verificationForm.get('code')?.hasError('required') && verificationForm.get('code')?.touched" class="custom-error-message">
            Code is required.
          </div>
        </div>

        <!-- Display a message about code expiration -->
        <div class="custom-info-message">
          The reset code will expire after 1 hour.
        </div>

        <button type="submit" class="custom-button" [disabled]="verificationForm.invalid">Submit Code</button>
        <p>go back <a routerLink="/login">password</a></p>
      </form>
    </div>
  </div>
</div>

