<!-- login.component.html -->
<div class="custom-container">
  <div class="custom-card">
    <div class="custom-heading">
      <p>Don't have an account? <a routerLink="/register">Register here</a></p>
    </div>
    <div class="custom-content">
      <p class="custom-subtitle">Welcome back! Log in to your account.</p>
      <p class="custom-logo-text">Geeks Chat</p>
    </div>

    <div class="custom-card-body">
      <div *ngIf="logoutMessage" class="custom-alert custom-alert-success">
        {{ logoutMessage }}
      </div>

      <form>
        <div class="custom-form-group">
          <label for="username" class="custom-label fw-bold">Email:</label>
          <input type="email" class="custom-input" id="username" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Enter your email">
        </div>
        <div class="custom-form-group">
          <label for="password" class="custom-label fw-bold">Password:</label>
          <input type="password" class="custom-input" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Enter your password">
        </div>



        <button type="button" class="custom-button btn btn-primary" (click)="onLogin()">Login</button>
        <div class="custom-form-group text-center">
          <a routerLink="/sendResetLink" class="custom-link">Forgot Password?</a>
        </div>
      </form>
    </div>
  </div>
</div>
