<app-side-navbar></app-side-navbar>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8 mb-3 sticky-top">
      <div style=" overflow: auto;" (scroll)="onScroll($event)" >
        <!-- Title -->
        <h2 class="text-center mb-4 text-info">Registered Users</h2>

        <!-- Search Input -->
        <input type="text" class="form-control mb-3" placeholder="Search users" [(ngModel)]="searchTerm">
      </div>

      <div *ngIf="filteredUsers.length === 0" class="alert alert-danger custom-alert mb-3">
        <mat-icon class="error-icon">error</mat-icon>
        <p class="mb-0">No users found with that handle.</p>
      </div>
      <!-- User List -->
      <div *ngFor="let user of filteredUsers" class="card mb-3" (click)="selectUser(user)">
        <div class="card-body d-flex align-items-center">
          <div class="profile-circle mx-4">{{ user.username.charAt(0).toUpperCase() }}</div>
          <h5 class="card-title">{{ user.username }}</h5>

          <button class="btn btn-success ml-auto flex-start" (click)="addToContact(user)"><i class="ri-add-circle-fill"></i>Contact</button>

        </div>
      </div>
    </div>
  </div>
</div>
