<!-- profile.component.html -->
<app-side-navbar></app-side-navbar>

<div *ngIf="userProfile" class="profile-container">
  <div class="header-section">
    <h2 class="text-center text-info"><i class="ri-settings-4-fill"></i> Account Preferences</h2>
  </div>
  <div class="profile-section">
    <div class="profile-details">
      <div class="profile-pic">{{ userProfile.firstname.charAt(0) }}</div>
      <div class="profile-name">
        <p>{{ userProfile.firstname }} {{ userProfile.lastname }}</p>
      </div>
    </div>
    <div class="profile-info">
      <p><strong>Username:</strong> {{ userProfile.username }}</p>
      <p><strong>Email:</strong> {{ userProfile.email }}</p>
    </div>
  </div>

  <div class="settings-section">
    <h2 class="text-info">Settings <i class="ri-settings-3-fill"></i></h2>
    <ul class="list-group">
      <li class="list-group-item"><a routerLink="/edit">Edit User Details</a></li>
      <li class="list-group-item"><a routerLink="/change-password">Change Password</a></li>
    </ul>
  </div>
</div>

<div *ngIf="!userProfile" class="profile-not-found">
  <p>User profile not found.</p>
</div>
