/* Add this CSS to your styles.css or styles.scss file */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap";


.custom-container {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-box {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 40px; /* Increased padding for a larger box */
  border-radius: 10px; /* Increased border-radius for a more rounded appearance */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%; /* Adjusted width for responsiveness */
  max-width: 600px; /* Added max-width for larger screens */
  margin: auto; /* Center the box */
}

.custom-title {
  font-size: 32px;
  color: #070F2B;
  font-weight: bold;
  margin-bottom: 15px;
}

.custom-subtitle {
  font-size: 20px;
  margin-bottom: 30px;
}

.custom-form {
  text-align: start;
}

.custom-form-group {
  margin-bottom: 25px;
}

.custom-label {
  font-weight: bold;
}
.input-with-icon {
  position: relative;
}

.error-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: red;
}

.custom-input {
  width: 100%;
  padding: 15px; /* Increased padding for larger input */
  border: 1px solid #ccc;
  border-radius: 8px; /* Increased border-radius for a more rounded appearance */
}

.custom-error-message {
  color: red;
  margin-top: 8px;
}

.custom-button {
  background-color: #070F2B;
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  display: block; /* Ensure the button is a block-level element */
  margin: auto; /* Center the button */
}

.custom-link {
  margin-top: 20px;
}

.custom-link a {
  color: #070F2B;
  text-decoration: none;
}

.custom-link a:hover {
  text-decoration: underline;
}
.custom-form-group.has-error input {
  border: 1px solid red;
}

.custom-form-group.has-error .custom-error-message {
  color: red;
}
