<!-- forget-password.component.html -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 border p-4 rounded">
      <h1 class="text-center text-info fw-bold">Geeks Chat</h1>
      <h2 class="text-center mb-4">Forget Password</h2>

      <form [formGroup]="forgetPasswordForm" (ngSubmit)="initiatePasswordReset()">

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" class="form-control form-control-sm" required>

          <!-- Display email validation errors -->
          <div *ngIf="forgetPasswordForm.get('email')?.hasError('required') && forgetPasswordForm.get('email')?.touched" class="text-danger">
            Email is required.
          </div>
          <div *ngIf="forgetPasswordForm.get('email')?.hasError('email') && forgetPasswordForm.get('email')?.touched" class="text-danger">
            Please enter a valid email address.
          </div>
        </div>



        <button type="submit" class="btn btn-primary center-btn btn-sm">Send Reset Email</button>
      </form>
    </div>
  </div>
</div>
