<!-- forget-password.component.html -->
<div class="custom-container">
  <div class="custom-box">
    <h1 class="custom-title">Geeks Chat</h1>
    <h2 class="custom-subtitle"><i class="fa-solid fa-key"></i> Forget Password</h2>

    <form [formGroup]="forgetPasswordForm" (ngSubmit)="initiatePasswordReset()" class="custom-form">
      <div class="custom-form-group" [ngClass]="{ 'has-error': forgetPasswordForm.get('email')?.hasError('required') && forgetPasswordForm.get('email')?.touched }">
        <label for="email" class="custom-label">Email:</label>
        <div class="input-with-icon">
          <input type="email" id="email" formControlName="email" class="custom-input" placeholder="Enter email address" required>
          <i *ngIf="forgetPasswordForm.get('email')?.hasError('required') && forgetPasswordForm.get('email')?.touched" class="fas fa-exclamation-triangle error-icon"></i>
        </div>
        <div *ngIf="forgetPasswordForm.get('email')?.hasError('required') && forgetPasswordForm.get('email')?.touched" class="custom-error-message">
          Email is required.
        </div>
        <div *ngIf="forgetPasswordForm.get('email')?.hasError('email') && forgetPasswordForm.get('email')?.touched" class="custom-error-message">
          Please enter a valid email address.
        </div>
      </div>

      <button type="submit" class="custom-button" [disabled]="forgetPasswordForm.invalid">Send Reset Email</button>

      <div class="custom-link">
        <p class="text-center">Remembered your password? <a routerLink="/login"> Login .</a></p>
      </div>
    </form>
  </div>
</div>
