<!-- app-chatarea.component.html -->

<div class="message-container">
  <div class="message other-person">
    <span class="sender">Friend:</span>
    <p>This is a message from your friend.</p>
  </div>

  <div class="message own">
    <span class="sender">You:</span>
    <p>This is your reply.</p>
  </div>

  <div class="message other-person">
    <span class="sender">Friend:</span>
    <p>This is a message from your friend.</p>
  </div>

  <div class="message other-person">
    <span class="sender">Friend:</span>
    <p>This is a message from your friend.</p>
  </div>

  <div class="message own">
    <span class="sender">You:</span>
    <p>This is your reply.</p>
  </div>

  <div class="message other-person">
    <span class="sender">Friend:</span>
    <p>This is a message from your friend.</p>
  </div>
  </div>

