<app-side-navbar></app-side-navbar>
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title text-info">Change Password</h2>
      <form (ngSubmit)="changePassword()">
        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input type="text" id="username" [(ngModel)]="username" name="username" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="oldPassword" class="form-label">Old Password:</label>
          <input type="password" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password:</label>
          <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Change Password</button>
      </form>
    </div>
  </div>
</div>
