<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light" *ngIf="!isLoginPage() && !isRegisterPage()">
  <div class="container-fluid">
    <a class="navbar-brand text-info fw-bolder" href="#">Geeks Chat</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mx-auto mr-4">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" >Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registeredUsers" >find new friends</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contacts">
            contacts
          </a>
        </li>
      </ul>
    </div>
    <div class="dropdown" style="margin-right: 130px;" *ngIf="currentUser">
      <button class="btn btn-secondary dropdown-toggle rounded-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{currentUser.firstname.charAt(0)}}
      </button>
      <ul class="dropdown-menu">
        <li><p class="dropdown-item" routerLink="/profile">Profile</p></li>
        <li><p class="dropdown-item" (click)="onUserLogout()">Log out</p></li>
      </ul>
    </div>
  </div>
</nav>
