/* Add this to your main styles.css or component-specific styles file */

.app-container {
  display: flex;

  height: 91vh;
}

.app-chat-container {
  display: flex;
  flex: 1;
  margin: 0 -10px; /* Set a negative margin to remove the space between them */
}

.left {
  width: 30%;
  height: 94vh;
  background-color: whitesmoke;
  border-right: 2px solid #ffffff; /* Add a white border to create a line */
  overflow: auto;
}

.right {
  width: 70%;
  height: 94vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.app-chatlist {
  height: 100%; /* This will make the chat list occupy the full height */
  /* Add any additional styles for your chat list */
}

.app-chat-header {
  /* Add styles for your chat header if needed */
}



.app-chat-input {
  height: 100%;
  margin-top: auto;
  padding: 10px; /* Add padding for better visual appearance */
}
