<!-- password-reset.component.html -->
<div class="custom-container">
  <div class="custom-card">
    <div class="custom-content">
      <p class="custom-subtitle">Reset Your Password</p>
      <p class="custom-logo-text">Geeks Chat</p>
    </div>

    <div class="custom-card-body">
      <form>
        <div class="custom-form-group">
          <label for="newPassword" class="custom-label fw-bold">New Password:</label>
          <input type="password" class="custom-input" id="newPassword" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" placeholder="Enter your new password">
        </div>
        <div class="custom-form-group">
          <label for="confirmPassword" class="custom-label fw-bold">Confirm Password:</label>
          <input type="password" class="custom-input" id="confirmPassword" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}" placeholder="Confirm your new password">
        </div>

        <button type="button" class="custom-button btn btn-primary" (click)="resetPassword()">Reset Password</button>
      </form>
    </div>
  </div>
</div>
