<!-- password-reset.component.html -->
<div class="custom-container">
  <div class="custom-card">
    <div class="custom-content">
      <p class="custom-subtitle">Reset Your Password</p>
      <p class="custom-logo-text">Geeks Chat</p>
    </div>

    <div class="custom-card-body">
      <form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()" novalidate>
        <div class="custom-form-group" [ngClass]="{ 'has-error': passwordResetForm.get('newPassword')?.invalid && passwordResetForm.get('newPassword')?.touched }">
          <label for="newPassword" class="custom-label fw-bold">New Password:</label>
          <div class="input-with-icon">
          <input type="password" id="newPassword" class="custom-input" formControlName="newPassword" placeholder="Enter your new password" required>
            <i *ngIf="passwordResetForm.get('newPassword')?.hasError('required') && passwordResetForm.get('newPassword')?.touched" class="fas fa-exclamation-triangle error-icon"></i>
          </div>
          <div *ngIf="passwordResetForm.get('newPassword')?.invalid && passwordResetForm.get('newPassword')?.touched" class="custom-error-message">
            Please enter a valid new password.
          </div>
        </div>

        <div class="custom-form-group" [ngClass]="{ 'has-error': passwordResetForm.get('confirmPassword')?.invalid && passwordResetForm.get('confirmPassword')?.touched }">
          <label for="confirmPassword" class="custom-label fw-bold">Confirm Password:</label>
          <div class="input-with-icon">
          <input type="password" id="confirmPassword" class="custom-input" formControlName="confirmPassword" placeholder="Confirm your new password" required>
            <i *ngIf="passwordResetForm.get('confirmPassword')?.hasError('required') && passwordResetForm.get('confirmPassword')?.touched" class="fas fa-exclamation-triangle error-icon"></i>

          </div>
          <div *ngIf="passwordResetForm.get('confirmPassword')?.invalid && passwordResetForm.get('confirmPassword')?.touched" class="custom-error-message">
            Passwords do not match.
          </div>
        </div>

        <button type="submit" class="custom-button btn btn-primary" [disabled]="passwordResetForm.invalid">Reset Password</button>
      </form>
    </div>
  </div>
</div>
