/* user-modal.component.css */
.user-information {
  text-align: center;
  color:black;
  color:black;
}

.profile-and-names {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: purple; /* Bootstrap primary color */
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px; /* Adjust the margin as needed */
}

.names {
  text-align: left; /* Align names to the left */
}

h2 {
  color: black;
}

p {
  margin: 10px 0;
}

.btn {
  margin-top: 20px;
}
/* profile-dialog.component.scss */

:host {
  display: block;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}


